{% load staticfiles %}
<link href='http//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/style7.css" %}" />

<table>
	<tr height = "10px">
		<td width="10px"></td>
		<td />
		<td width="10px"></td>
		<td />
	</tr>
	<tr>
		<td />
		<td>Staff ID</td>
		<td />
		<td>{{ crisisinstance.staff_id }}</td>
	</tr>
	<tr>
		<td />
		<td>Crisis Type</td>
		<td />
		<td>{{ crisisinstance.crisisType }}</td>
	</tr>
	<tr>
		<td />
		<td>Severity Level</td>
		<td />
		<td>{{ crisisinstance.severity_level }}</td>
	</tr>
	<tr>
		<td />
		<td>Longitude</td>
		<td />
		<td>{{ crisisinstance.longitude  }}</td>
	</tr>
	<tr>
		<td />
		<td>Latitude</td>
		<td />
		<td>{{ crisisinstance.latitude  }}</td>
	</tr>
	<tr>
		<td />
		<td>Note</td>
		<td />
		<td>{{ crisisinstance.note  }}</td>
	</tr>
	<tr height="10px"></tr>
	<tr>
		<td />
		<td colspan="3">
			<div class="button-wrapper">
		        <a href="{% url 'cms:DMupdateterminate' crisisinstance.id %}" class="a-btn">
		          <span class="a-btn-text">Terminate crisis</span> 
		          <span class="a-btn-slide-text">Tsunami/Haze</span>
		        </a>
		    </div>
		</td>
	</tr>
</table>
