{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/style7.css" %}" />
<div class="container-fluid">
    <p align="Center">
    <font size="6">DATA ARCHIVE</font>
    </p>
</div>

<ul>
{% for incident in object_list %}
    <li><a href="{% url 'cms:detail' incident.id %}">
	<font size="3" color="white">
		{{incident.id}}. 
	</font>
	<font size="4" color="white">
		{{ incident.name_of_caller }}
	</font>
    </a></li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
<br>
<br>
<br>
<br>
<a href="{% url 'cms:index'%}" class="a-btn">
<span class="a-btn-symbol">h</span>
<span class="a-btn-text">Back to home page</span> 
<span class="a-btn-slide-text">Call Operator</span>
</a>
</ul>
